@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

.homeSection{
    background-image: url(../../Image/cover.jpg);
    height: 130vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color :white;
    
}

.inputBox{
    padding: 0px 188px 0px 0px;
    margin-bottom: 10px;
}

.booking-box{
    background-color: rgb(255, 254, 254);
    padding: 24px;
    border-radius: 6px;
    margin: 180px 0px 0px 0px;
    width: 455px;
}
.booking-box h6{
    color: gray;
}
.date-box{
    display: flex;
    margin-top: 10px;
    
}

.booking-btn{
    background-color: orange;
    border-style: none;
    color: black;
    font-weight: 600;
    
}


.headline{
    padding:200px 60px;
}
.headline h1{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 80px;
    
}

.headline button{
    font-weight: 600;
}

p{
    font-family: 'Montserrat', sans-serif;
}
.colums{
    margin-top:110px;
    font-weight: 100;
}

.fullBox{
   
}

